@using Project_IHFF.Models
@using Newtonsoft.Json;

@model List<MapLocations>


<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBNsEnJz7K0fRtRb9xg8cw6RthggU8KeeI" type="text/javascript"></script>

<div id="block">
    <h1 id="MainCategory"> Culture </h1>
    <p id="text">
        Welcome to the International Haarlem film festival (iHff).
        The organization is working hard to make this year’s festival even better than last year’s and we hope that everyone who will pay a visit
        to the IHff will have a great time with the huge array of events that are being planned.
        Haarlem will once again serve as the background of the festival so we would like to inform you about the rich culture the city can offer you during the time between events.
    </p>
    <img src="../img/cultuur/deadriaan.jpg" id="cultureimages" />
</div>


<div id="block">
    <h1 id="MainCategory"> Museums </h1>
    <p id="text">
        Haarlem has a lot of museums that are worth paying a visit.One of the most unique museums is
        “Het Dolhuys” which loosely translates to “the madhouse”, it’s a museum about the human mind
        and really showcases the thin line between crazy and normal.For people that prefer more
        traditional museums with beautiful paintings there is the Frans Hals museum, which focusses on 16th and 17th century paintings made by the painter Frans Hals and there’s also a modern art museum called "De Hallen".
    </p>
    <img src="../img/cultuur/franshalsmuseum.jpg" id="cultureimages" />
</div>

<div id="block">
    <h1 id="MainCategory"> Monuments </h1>
    <p id="text">
        If you prefer visiting historical monuments over museums you will love Haarlem.Haarlem is an old
        city and as such has a lot of old buildings that are very well preserved.
        Former weigh house “De Waag” used to be a place where trading good were weighed and taxes were being paid from 1599 until 1915, now it houses a bar and an art exhibition space.
        Another interesting landmark is the St. Joseph church, the first official catholic church after the iconoclastic fury or “statue storm”.
        It served as the main catholic church in Haarlem, but because of the rapid growth of Catholicism
        it was too small after only 90 years and a new cathedral was built.
    </p>
    <img src="../img/cultuur/stbavo.jpg" id="cultureimages2" />
</div>

<div id="block">
    <h1 id="MainCategory">And more</h1>
    <p id="text">
        These are just some examples of the diverse culture Haarlem has to offer.

        If you’re interested in any of them or like to find out what other venue’s you can visit while you’re at the IHff, you can pay a visit to weebly.com.
    </p>
    <img src="../img/cultuur/franshals.jpg" id="cultureimages3" />
</div>


<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<!-- google map css -->
<div id="map_canvas" style="height: 550px;"></div>

@section scripts
{
    <section class="scripts">

        <script type="text/javascript">

            $(document).ready(function () {
                Initialize();
            });

            function Initialize() {

                google.maps.visualRefresh = true;
                var Haarlem = new google.maps.LatLng(52.387386, 4.646219);

                var mapOptions = {
                    zoom: 13,
                    center: Haarlem,
                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                };

                // maakt een div met het id "map_canvas"
                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                // een lijst met de deelnemende restaurants, theaters en culturele activiteiten die in de buurt liggen
                var data =
                    //C# code
                    @{

                string data = "";
                data = JsonConvert.SerializeObject(Model);

                @Html.Raw(data + ';');
            }

                //  met een jquery "each" selector door te lijst gaan en alle markers neerzetten
                $.each(data, function (i, item) {
                    var marker = new google.maps.Marker({
                        'position': new google.maps.LatLng(item.geoLong, item.geoLat),
                        'map': map,
                        'title': item.placeName,
                        'icon': item.markerPath
                    });

                    // string voor de infowindow
                    var contentString = '<div id="contentStr" style="margin-left:15px; margin-top:3px;overflow:hidden;">' + '<div id="bodyContent">'
                        + '<img src=' + item.imagePath + ' style="width:172px;height:110px;"/>'
                        + '<br><p style="font:13px verdana;margin-left:5px; margin-top:10px;">'
                        + item.placeName + '</p><div style="font:13px verdana;margin-left:5px;">' + item.adress + '<br>' + item.city +
                        '<br>' + item.phone + '<br>' + item.email + '</div>' + '</div>';

                    var infowindow = new google.maps.InfoWindow({
                        content: contentString,
                        width: 192,
                        height: 1000
                    });


                    // onclick listener toevoegen die een infowindow opent als je op een marker drukt
                    google.maps.event.addListener(marker, 'click', function () {
                        if (!marker.open) {
                            infowindow.open(map, marker);
                            marker.open = true;
                        }
                        else {
                            infowindow.close();
                            marker.open = false;
                        }
                        google.maps.event.addListener(map, 'click', function () {
                            infowindow.close();
                            marker.open = false;
                        });
                    });
                })
            }
        </script>
    </section>
}

<div id="map_info">
    <img src="http://labs.google.com/ridefinder/images/mm_20_yellow.png" /> Restaurants
    <img src="http://labs.google.com/ridefinder/images/mm_20_blue.png" /> Theathers
    <img src="http://labs.google.com/ridefinder/images/mm_20_red.png" /> Cultural activities
</div>