<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBNsEnJz7K0fRtRb9xg8cw6RthggU8KeeI" type="text/javascript"></script>

<div id="block">
    <h1 id="MainCategory"> Culture </h1>
    <p id="text">
        Welcome to the International Haarlem film festival (iHff).
        The organization is working hard to make this year’s festival even better than last year’s and we hope that everyone who will pay a visit
        to the IHff will have a great time with the huge array of events that are being planned.
        Haarlem will once again serve as the background of the festival so we would like to inform you about the rich culture the city can offer you during the time between events.
    </p>
    <img src="../img/cultuur/deadriaan.jpg" id="cultureimages" />
</div>


<div id="block">
    <h1 id="MainCategory"> Museums </h1>
    <p id="text">
        Haarlem has a lot of museums that are worth paying a visit.One of the most unique museums is
        “Het Dolhuys” which loosely translates to “the madhouse”, it’s a museum about the human mind
        and really showcases the thin line between crazy and normal.For people that prefer more
        traditional museums with beautiful paintings there is the Frans Hals museum, which focusses on 16th and 17th century paintings made by the painter Frans Hals and there’s also a modern art museum called "De Hallen".
    </p>
    <img src="../img/cultuur/franshalsmuseum.jpg" id="cultureimages" />
</div>

<div id="block">
    <h1 id="MainCategory"> Monuments </h1>
    <p id="text">
        If you prefer visiting historical monuments over museums you will love Haarlem.Haarlem is an old
        city and as such has a lot of old buildings that are very well preserved.
        Former weigh house “De Waag” used to be a place where trading good were weighed and taxes were being paid from 1599 until 1915, now it houses a bar and an art exhibition space.
        Another interesting landmark is the St. Joseph church, the first official catholic church after the iconoclastic fury or “statue storm”.
        It served as the main catholic church in Haarlem, but because of the rapid growth of Catholicism
        it was too small after only 90 years and a new cathedral was built.
    </p>
    <img src="../img/cultuur/stbavo.jpg" id="cultureimages2" />
</div>

<div id="block">
    <h1 id="MainCategory">And more</h1>
    <p id="text">
        These are just some examples of the diverse culture Haarlem has to offer.

        If you’re interested in any of them or like to find out what other venue’s you can visit while you’re at the IHff, you can pay a visit to weebly.com.
    </p>
    <img src="../img/cultuur/franshals.jpg" id="cultureimages3" />
</div>


<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<!-- google map css -->
<div id="map_canvas" style="height: 550px;"></div>

@section scripts
{
    <section class="scripts">

        <script type="text/javascript">

            $(document).ready(function () {
                Initialize();
            });

            function Initialize() {

                google.maps.visualRefresh = true;
                var Haarlem = new google.maps.LatLng(52.387386, 4.646219);

                var mapOptions = {
                    zoom: 13,
                    center: Haarlem,
                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                };

                // maakt een div met het id "map_canvas"
                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                // een lijst met de deelnemende restaurants, theaters en culturele activiteiten die in de buurt liggen
                var data = [
                                          { "Id": 1, "PlaceName": "Stempels Brasserie", "GeoLong": "52.380827", "GeoLat": "4.638282", "Adress": "Klokhuisplein 9", "City": "2011 HK, Haarlem", "Phone": "+023 512 39 10", "Email": "info@stempelsinhaarlem.nl", "image": "../img/restaurants/stempels.png", "Marker": "http://labs.google.com/ridefinder/images/mm_20_yellow.png" },
                                          { "Id": 2, "PlaceName": "De Uitkijk", "GeoLong": "52.410086", "GeoLat": "4.604256", "Adress": "Hoge Duin en Daalseweg 6", "City": "2061 AG, Bloemendaal", "Phone": "+023 525 11 62", "Email": "restaurant@uitkijk-kopjebloemendaal.nl", "image": "../img/restaurants/deuitkijk.png", "Marker": "http://labs.google.com/ridefinder/images/mm_20_yellow.png" },
                                          { "Id": 3, "PlaceName": "Dijkers", "GeoLong": "52.380533", "GeoLat": "4.636618", "Adress": "Warmoesstraat 5", "City": "2011 HN Haarlem", "Phone": "+023 551 15 64", "Email": "info@restaurantdijkers.nl", "image": "../img/restaurants/dijkers.png", "Marker": "http://labs.google.com/ridefinder/images/mm_20_yellow.png" },
                                          { "Id": 4, "PlaceName": "Terra", "GeoLong": "52.406732", "GeoLat": "4.622309", "Adress": "Kerkplein 16A", "City": "2061 JD Bloemendaal", "Phone": "+023 527 7856", "Email": "info@terra.nl", "image": "../img/restaurants/terra.png", "Marker": "http://labs.google.com/ridefinder/images/mm_20_yellow.png" },
                                          { "Id": 5, "PlaceName": "Ratatouille", "GeoLong": "52.378701", "GeoLat": "4.637673", "Adress": "Spaarne 96", "City": "2011 CL Haarlem", "Phone": "+023 542 7270", "Email": "info@ratatouillefoodandwine.nl", "image": "../img/restaurants/ratatouille.png", "Marker": "http://labs.google.com/ridefinder/images/mm_20_yellow.png" },
                                          { "Id": 6, "PlaceName": "De Ark", "GeoLong": "52.377178", "GeoLat": "4.633261", "Adress": "Nieuw Heiligland 3", "City": "2011EM, Haarlem", "Phone": "+023 531 1078", "Email": "info@deark.nl", "image": "../img/restaurants/deark.png", "Marker": "http://labs.google.com/ridefinder/images/mm_20_yellow.png" },
                                          { "Id": 7, "PlaceName": "Philharmonie", "GeoLong": "52.381537", "GeoLat": "4.638797", "Adress": "Lange Begijnestraat 11", "City": "2011 HH, Haarlem", "Phone": "+023 512 1212", "Email": "service@theater-haarlem.nl", "image": "../img/theathers/philharmonie.jpg", "Marker": "http://labs.google.com/ridefinder/images/mm_20_blue.png" },
                                          { "Id": 8, "PlaceName": "Toneelschuur ", "GeoLong": "52.381997", "GeoLat": "4.639054", "Adress": "Lange Begijnestraat 9", "City": "2011 HH, Haarlem", "Phone": "+023 517 3910", "Email": "informatie@toneelschuur.nl", "image": "../img/theathers/toneelschuur.jpg", "Marker": "http://labs.google.com/ridefinder/images/mm_20_blue.png" },
                                          { "Id": 9, "PlaceName": "Pathé ", "GeoLong": "52.381764", "GeoLat": "4.629414", "Adress": "Zijlvest 41-43", "City": "2011 VB, Haarlem", "Phone": "+0900 1458", "Email": "informatie@toneelschuur.nl", "image": "../img/theathers/pathe.png", "Marker": "http://labs.google.com/ridefinder/images/mm_20_blue.png" },
                                          { "Id": 10, "PlaceName": "Sint Bavo Kathedraal", "GeoLong": "52.376474", "GeoLat": "4.622860", "Adress": "Leidsevaart 146", "City": "2014 HE, Haarlem", "Phone": "+023 532 30 77", "Email": "info@rkbavo.nl", "image": "../img/cultuur/stbavo.jpg", "Marker": "http://labs.google.com/ridefinder/images/mm_20_red.png" },
                                          { "Id": 11, "PlaceName": "Sint Bavo Kerk", "GeoLong": "52.381053", "GeoLat": "4.637279", "Adress": "Grote Markt 22", "City": " 2011 RD, Haarlem", "Phone": "+023 553 2040", "Email": "info@bavo.nl", "image": "../img/cultuur/stbavokerk.jpg", "Marker": "http://labs.google.com/ridefinder/images/mm_20_red.png" },
                                          { "Id": 12, "PlaceName": "De Adriaan", "GeoLong": "52.383701", "GeoLat": "4.642732", "Adress": "Papentorenvest 1A", "City": "2011 AV, Haarlem", "Phone": "+023 545 0259", "Email": "informatie@toneelschuur.nl", "image": "../img/cultuur/deadriaan.jpg", "Marker": "http://labs.google.com/ridefinder/images/mm_20_red.png" },
                                          { "Id": 13, "PlaceName": "Teylers Museum", "GeoLong": "52.380351", "GeoLat": "4.640345", "Adress": "Spaarne 16", "City": "2011 CH, Haarlem", "Phone": "+023 516 0960", "Email": "info@teylersmuseum.nl", "image": "../img/cultuur/teylersmuseum.jpg", "Marker": "http://labs.google.com/ridefinder/images/mm_20_red.png" },
                                          { "Id": 14, "PlaceName": "Frans Hals Museum", "GeoLong": "52.376597", "GeoLat": "4.633682", "Adress": "Groot Heiligland 62", "City": "2011 ES, Haarlem", "Phone": "+023 545 0259", "Email": "office@franshalsmuseum.nl", "image": "../img/cultuur/franshalsmuseum.jpg", "Marker": "http://labs.google.com/ridefinder/images/mm_20_red.png" },
                                          { "Id": 15, "PlaceName": "Het Dolhuys", "GeoLong": "52.390475", "GeoLat": "4.638044", "Adress": "Schotersingel 2", "City": "2021 GE, Haarlem", "Phone": "+023 541 0670", "Email": "info@hetdolhuys.nl", "image": "../img/cultuur/hetdolhuys.jpg", "Marker": "http://labs.google.com/ridefinder/images/mm_20_red.png" },
                                          { "Id": 16, "PlaceName": "De Hallen", "GeoLong": "52.381067", "GeoLat": "4.636037", "Adress": "Grote Markt 16", "City": "2011 RD, Haarlem", "Phone": "+023 511 5775", "Email": "office@dehallen.nl", "image": "../img/cultuur/dehallen.jpg", "Marker": "http://labs.google.com/ridefinder/images/mm_20_red.png" },
                                          { "Id": 17, "PlaceName": "Taverne de Waag", "GeoLong": "52.380213", "GeoLat": "4.639755", "Adress": "Damstraat 29", "City": "2011 HA, Haarlem", "Phone": "+023 5 31 16 40", "Email": "sjef@tavernedewaag.nl", "image": "../img/cultuur/dewaag.jpg", "Marker": "http://labs.google.com/ridefinder/images/mm_20_red.png" },
                ];


                //  met een jquery "each" selector door te lijst gaan en alle markers neerzetten
                $.each(data, function (i, item) {
                    var marker = new google.maps.Marker({
                        'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                        'map': map,
                        'title': item.PlaceName,
                        'icon': item.Marker
                    });

                    // string voor de infowindow
                    var contentString = '<div id="contentStr" style="margin-left:15px; margin-top:3px;overflow:hidden;">' + '<div id="bodyContent">'
                        + '<img src=' + item.image + ' style="width:172px;height:110px;"/>'
                        + '<br><p style="font:13px verdana;margin-left:5px; margin-top:10px;">'
                        + item.PlaceName + '</p><div style="font:13px verdana;margin-left:5px;">' + item.Adress + '<br>' + item.City +
                        '<br>' + item.Phone + '<br>' + item.Email + '</div>' + '</div>';

                    var infowindow = new google.maps.InfoWindow({
                        content: contentString,
                        width: 192,
                        height: 1000
                    });


                    // onclick listener toevoegen die een infowindow opent als je op een marker drukt
                    google.maps.event.addListener(marker, 'click', function () {
                        if (!marker.open) {
                            infowindow.open(map, marker);
                            marker.open = true;
                        }
                        else {
                            infowindow.close();
                            marker.open = false;
                        }
                        google.maps.event.addListener(map, 'click', function () {
                            infowindow.close();
                            marker.open = false;
                        });
                    });
                })
            }
        </script>
    </section>
}

<div id="map_info">
    <img src="http://labs.google.com/ridefinder/images/mm_20_yellow.png" /> Restaurants
    <img src="http://labs.google.com/ridefinder/images/mm_20_blue.png" /> Theathers
    <img src="http://labs.google.com/ridefinder/images/mm_20_red.png" /> Cultural activities
</div>