
@{
    ViewBag.Title = "Login";
}


<h2>@ViewBag.Login</h2>

<form method="post" action="Login">
    <p>Emailadress:</p>
    <input type="text" name="EmailAdress" class="form-control" />
    <br />
    <p>Password:</p>
    <input type="password" name="password" class="form-control"/>
    <br />
    <input type="submit" value="Login" class="btn btn-primary" />
</form>
<br />
@Html.ActionLink("Make a New Account", "Register", "Account", null, new { @class = "btn btn-primary"})