
@{
    ViewBag.Title = "Register";
}


<h2>@ViewBag.NewAccount</h2>
<p>@ViewBag.error</p>

<form method="post" action="Register">
    <p>Name:</p>
    <input type="text" name="name" />
    <br /> <br />
    <p>Emailadress:</p>
    <input type="text" name="email" />
    <br /> <br />
    <p>Password:</p>
    <input type="password" name="password" />
    <br /> <br />
    <p>Repeat Password:</p>
    <input type="password" name="Passwordcheck" />
    <br /> <br />

    <input type="submit" value="Register" />
</form>

<br />
@Html.ActionLink("Login",
                "Login",
                "Account",
                 null,
                 null
                )
