@using Project_IHFF.Models;
@using System.Collections.Generic;
@model Orders

<div id="WinkelWagenInhoud">
    <h3 style="
    color: white;
    width: 1000px;
    padding-left: 218px;
">
        Thank you for you reservation, an e-mail has been sent including your e-ticket(s).
    </h3>
</div>
