@using Project_IHFF.Models;
@using System.Collections.Generic;
@model Orders

<div id="WinkelWagenInhoud">
    <h3 style="
    color: white;
    width: 1000px;
    padding-left: 218px;
">
        Thank you for you reservation, you can collect your tickets at the ticket booths in Haarlem with the
        pickup-code: <a style="color:orange;">@Model.pickupCode</a>
    </h3>
    <h3 style="color:white; padding-left: 118px;">Parklaan 61, 2011 KS Haarlem</h3>
    <h3 style="color:white; padding-left: 118px;">Iordensstraat 77, 2012 HB Haarlem</h3>
    <h3 style="color:white; padding-left: 118px;">* tickets can still be sold to others untill they are paid for on our website or at the booth.</h3>
</div>
