#logo {
    margin-top: 5px;
    width: 67%;
    margin-top: -30%;
}

.nav navbar-nav {
}

#KleineTekstInNav {
    float: right;
}

.TaalVlag {
    margin: 10px;
    margin-top: 17px;
}

#DikkeNavTekst {
    font-family: "Franklin Gothic", Times, serif;
    font-size: 24px;
}

.NavIcons {
    margin-top: -7px;
    transform: rotateY(180deg);
    width: 15px;
}

#ShoppingCart {
    margin-left: 15px;
    margin-top: -4px;
}

#container {
    background-color: white;
}

#AchtergrondMidde {
    background-color: lightgray;
    padding-bottom: 100%;
    z-index: -100;
}

#DikkeNavTekst li {
    margin-left: 15px;
}

.container {
    background-color: white;
}

#Content {
    padding-top: 15px;
    margin-top: -23px;
    margin-top: 102px;
    padding-bottom: 100%;
    background-color:#CCCCCC;
}

#body {
    background-color: #e4e4e4;
    padding-top: 0px;
}

.SeeMore {
    margin-top: -127px;
    margin-left: 35%;
    background: rgba(0,0,0,0.5);
    color: white;
}

.slider {
    width: 103.2%;
    margin-left: -1.55%;
}

#DikkeNavTekst li a {
    color: black;
}

    #DikkeNavTekst li a:hover {
        color: #ff6600;
    }

#KleineTekstInNav li a:hover {
    color: #ff6600;
}
#ShoppingCartRegel{
    list-style: none;
    float: left;
}
#ShoppingCartRegel li{
    float: left;
    margin-left: 20px;
    margin-left: 150px;
}
.FloatLeft{
    float:left;
}
.MarginLeft10px{
    margin-left:10px;
}
.MinPlusKnop{
    background-color: #FF9900;
    padding: 5px;
    border-radius: 100%;
    padding-top: 1px;
    color: #666666;
    padding-top: 2px;
    box-shadow: 2px 2px 3px #494949;
    margin-top: -2px;
}
.MinPlusKnop:hover{
    color: black;
    text-decoration: none;
    background-color: #ff6600;
}
#ShoppingCartRegelKop{
    list-style: none;
    float: left;
}
#ShoppingCartRegelKop li{
    float: left;
    margin-left: 20px;
    margin-left: 150px;
}

#WinkelWagenInhoud{
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: #666666;

}
#Tickets{
    margin-left:30px;
    color: #FF9900;
}
#WinkelWagenInhoud li p{
    color:#F2F2F2;
}
#ShoppingCartRegelKop li h4{
    color: #CCCCCC;
    font-weight: bold;
}