#logo {
    margin-top: 5px;
    width: 67%;
    margin-top: -30%;
}

.nav navbar-nav {
}

#KleineTekstInNav {
    float: right;
}

.TaalVlag {
    margin: 10px;
    margin-top: 17px;
}

#DikkeNavTekst {
    font-family: "Franklin Gothic", Times, serif;
    font-size: 24px;
}

.NavIcons {
    margin-top: -7px;
    transform: rotateY(180deg);
    width: 15px;
}

#ShoppingCart {
    margin-left: 15px;
    margin-top: -4px;
}

#container {
    background-color: white;
}

#AchtergrondMidde {
    background-color: lightgray;
    padding-bottom: 100%;
    z-index: -100;
}

#DikkeNavTekst li {
    margin-left: 15px;
}

.container {
    background-color: white;
}

#Content {
    padding-top: 15px;
    margin-top: -23px;
    margin-top: 102px;
    padding-bottom: 100%;
    background-color:#CCCCCC;
}

#body {
    background-color: #e4e4e4;
    padding-top: 0px;
}

.SeeMore {
    margin-top: -127px;
    margin-left: 35%;
    background: rgba(0,0,0,0.5);
    color: white;
}

.slider {
    width: 103.2%;
    margin-left: -1.55%;
}

#DikkeNavTekst li a {
    color: black;
}

    #DikkeNavTekst li a:hover {
        color: #ff6600;
    }

#KleineTekstInNav li a:hover {
    color: #ff6600;
}
#ShoppingCartRegel{
    list-style: none;
    float: left;
}
#ShoppingCartRegel li{
    float: left;
    margin-left: 20px;
    margin-left: 150px;
}
.FloatLeft{
    float:left;
}
.MarginLeft10px{
    margin-left:10px;
}
.MinPlusKnop{
    background-color: #FF9900;
    padding: 5px;
    border-radius: 100%;
    padding-top: 1px;
    color: #666666;
    padding-top: 2px;
    box-shadow: 2px 2px 3px #494949;
    margin-top: -2px;
}
.MinPlusKnop:hover{
    color: black;
    text-decoration: none;
    background-color: #ff6600;
}
#ShoppingCartRegelKop{
    list-style: none;
    float: left;
}
#ShoppingCartRegelKop li{
    float: left;
    margin-left: 20px;
    margin-left: 150px;
}

#WinkelWagenInhoud{
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: #666666;

}
#Tickets{
    margin-left:30px;
    color: #FF9900;
}
#WinkelWagenInhoud li p{
    color:#F2F2F2;
}
#ShoppingCartRegelKop li h4{
    color: #CCCCCC;
    font-weight: bold;
}
.RekenAf-btn{
    background-color: #FF9900;
    border-color: #FF9900;
}
.RekenAf-btn:hover{
    background-color: #ff6600;
}

#HiddenDiv{
    display: none;
}

/* Images*/

.itemImage{
    width: 160px;
    margin: 10px auto;
}

/* CMS */

.container.cms{
    background-color: #CCC;
    margin: 0;
    padding: 0;
}

.cmsEditButton{
    height: 25px;
    line-height: 0.8;
}

.cmsEditContainer{
    background-color: #CCC;
}

.cmsItemContainer{
    display: flex;  
    background-color: darkgray;
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
}

.cmsItemContainer label{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

}

.cmsMenuRow{
    background-color: #ccc;
    display: flex;
}

.cmsMenuRow .btn{
    height: 150px;
    width: 150px;
    line-height: 18;
    border-radius:3px;
    margin: auto 10px;
    
}

.cmsMenuRow .addItem{
    background-image: url(/img/cms/plus.png);
    background-repeat:no-repeat;
    background-size: 100px;
    background-position:center;
    background-position-y: 10px;
}

.cmsMenuRow .editItem{
    background-image: url(/img/cms/edit.png);
    background-repeat:no-repeat;
    background-size: 100px;
    background-position:center;
    background-position-y: 10px;
}


.cmsBackButton{
    margin-left: 14px;
    margin-top: 5px;
}

.editPageTitle{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid darkgray;
    margin-bottom: 10px;
}

.editPageTitle h2{
        font-family: "Franklin Gothic", Times, serif;
        font-weight:100;
        font-size: 24px;
}

.addPageTitle{
    border-bottom: 1px solid darkgray;
    margin-bottom: 10px;
}

.addPageTitle h2{
    font-family: "Franklin Gothic", Times, serif;
    font-weight:100;
    font-size: 24px;
}


/* Bootstrap override*/

.nav-tabs{
    border-bottom-color: #FF9900;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: #FF9900;
    border-color: #FF9900;
    color: white;   
}

.nav-tabs > li > a{
    color: black;
}

.btn-primary{
    color: white;
    background-color: #FF9900;
    border-color: #FF9900;
}

.btn-primary:hover{
    background-color: #ff6600;
    border-color: #ff6600;
}

.btn-primary:active{
    background-color: #ff6600;
    border-color: #ff6600;
}

.btn-primary:focus{
    background-color: #ff6600;
    border-color: #ff6600;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,S
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #ff6600;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, #ff6600;
  outline: 0 none;
}



/* Rene Css, ik verplaats/sorteer dit later */
.contentBox {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #666666;
}
.shopBtn {
    width: 12em;
    margin: 4px 4px 20px 4px;
    background-color: #FF9900;
    border-color: #FF9900;
}
.shopBtn:hover{
    background-color: #ff6600;
}
.sortBtn{
    width: 4em;
    margin: 4px;
    background-color: #FF9900;
    border-color: #FF9900;
}
.sortBtn:hover{
    background-color: #ff6600;
}

.qtyBtn {
    color: #FF9900;
    font-size: 1.5em;
}

.qtyBtn:hover {
    color: #FF6600;
}
.noPadd{
    padding: 0px;
}
.verticalCenter {
   min-height: 5em;
   display: table-cell;
   vertical-align: middle;
}
.title {
    color: #FF9900;
}

.subTitle, .title {
    margin: 0.2em 0;
}

.description {
    font-size: 0.8em;
}

.whiteText {
    color: #F2F2F2;
}
/* einde René css*/