@using Project_IHFF.Models;
@using System.Collections.Generic;

@model IEnumerable<SpecialViewModel>

<div class="col-md-8">
    <!--data-request-url provides javascript with the Url.action-->
    <div id="itemsContainer" data-request-url="@Url.Action("SpecialsView", "Special")">
        @Html.Partial("SpecialsView")
    </div>
</div>
<div class="col-md-4 ">
    <div class="contentBox right">
        <h2>Search Filters</h2>
        <div data-toggle="buttons">
            <label id="monday" class="btn btn-default sortBtn sortDay">
                <input type="radio" name="filterDay" id="monday"> Mon
            </label>
            <label id="tuesday" class="btn btn-default sortBtn sortDay">
                <input type="radio" name="filterDay" id="tuesday"> Tue
            </label>
            <label id="wednesday" class="btn btn-default sortBtn sortDay">
                <input type="radio" name="filterDay" id="wednesday"> Wed
            </label>
            <label id="thursday" class="btn btn-default sortBtn sortDay">
                <input type="radio" name="filterDay" id="thursday"> Thu
            </label>
            <label id="friday" class="btn btn-default sortBtn sortDay">
                <input type="radio" name="filterDay" id="friday"> Fri
            </label>
            <label id="saturday" class="btn btn-default sortBtn sortDay">
                <input type="radio" name="filterDay" id="saturday"> Sat
            </label>
            <label id="sunday" class="btn btn-default sortBtn sortDay">
                <input type="radio" name="filterDay" id="sunday"> Sun
            </label>
        </div>
        <div data-toggle="buttons">
            <label id="philharmonie" class="btn btn-default sortBtn sortPlace">
                <input type="radio" name="filterPlace" id="philharmonie"> Philharmonie
            </label>
            <label id="patronaat" class="btn btn-default sortBtn sortPlace">
                <input type="radio" name="filterPlace" id="patronaat"> Patronaat
            </label>

        </div>
        <h2>Sort movies</h2>
        <div data-toggle="buttons">
            <label id="sortTime" class="btn btn-default sortBtn sortOrder">
                <input type="radio" name="filterOrder" id="sortTime"> Time
            </label>
            <label id="sortName" class="btn btn-default sortBtn sortOrder">
                <input type="radio" name="filterOrder" id="sortName"> Name
            </label>
        </div>
    </div>
</div>
<div id="shopPopupContent">
    <div class="messagePopup">The article is succesfully added to your <span id="shopPopupMessage"></span></div>
    <div class="btnsPopup">
        <a class="btn btn-default closePopup">Continue shopping</a>
        <a class="btn btn-default" id="shopPopupCart" href='@Url.Action("Index", "ShoppingCart")'>Go to cart</a>
        <a class="btn btn-default" id="shopPopupProgramme" href='@Url.Action("Index", "WishList")'>Go to programme</a>
    </div>
</div>
