@using Project_IHFF.Models;
@using System.Collections.Generic;

@model IEnumerable<ExhibitionViewModel>

<div class="col-md-8">
    <div id="filmsContainer">
        @Html.Partial("FilmsView")
    </div>
</div>
<div class="col-md-4 ">
    <div class="contentBox right">
        <h2>Search Filters</h2>
        <div data-toggle="buttons">
            <label id="monday" class="btn btn-default sortBtn sortDay">
                <input type="radio" name="filterDay" id="monday"> Mon
            </label>
            <label id="tuesday" class="btn btn-default sortBtn sortDay">
                <input type="radio" name="filterDay" id="tuesday"> Tue
            </label>
            <label id="wednesday" class="btn btn-default sortBtn sortDay">
                <input type="radio" name="filterDay" id="wednesday"> Wed
            </label>
            <label id="thursday" class="btn btn-default sortBtn sortDay">
                <input type="radio" name="filterDay" id="thursday"> Thu
            </label>
            <label id="friday" class="btn btn-default sortBtn sortDay">
                <input type="radio" name="filterDay" id="friday"> Fri
            </label>
            <label id="saturday" class="btn btn-default sortBtn sortDay">
                <input type="radio" name="filterDay" id="saturday"> Sat
            </label>
            <label id="sunday" class="btn btn-default sortBtn sortDay">
                <input type="radio" name="filterDay" id="sunday"> Sun
            </label>
        </div>
        <div data-toggle="buttons">
            <label id="philharmonie" class="btn btn-default sortBtn sortPlace">
                <input type="radio" name="filterPlace" id="philharmonie"> Philharmonie
            </label>
            <label id="toneelschuur" class="btn btn-default sortBtn sortPlace">
                <input type="radio" name="filterPlace" id="toneelschuur"> Toneelschuur
            </label>
            <label id="pathé" class="btn btn-default sortBtn sortPlace">
                <input type="radio" name="filterPlace" id="pathé"> Pathé
            </label>
        </div>
        <h2>Sort movies</h2>
        <div data-toggle="buttons">
            <label id="sortTime" class="btn btn-default sortBtn sortOrder">
                <input type="radio" name="filterOrder" id="sortTime"> Time
            </label>
            <label id="sortName" class="btn btn-default sortBtn sortOrder">
                <input type="radio" name="filterOrder" id="sortName"> Name
            </label>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/custom.js")


<script>
// this script is used to load the partialview movies list
$(document).ready(function ()
    {
        $(".sortBtn").click(function ()
        {
            //all selected filters
            var day = $('input[name=filterDay]:checked').attr('id');
            var place = $('input[name=filterPlace]:checked').attr('id');
            var order = $('input[name=filterOrder]:checked').attr('id');

            if ($(this).hasClass("sortDay")) { day = $(this).attr('id') }
            if ($(this).hasClass("sortPlace")) { place = $(this).attr('id') }
            if ($(this).hasClass("sortOrder")) { order = $(this).attr('id') }

            $("#filmsContainer").load("@Url.Action("FilmsView","Film")", { 'day': day, 'place': place, 'sort': order });
        });
});

</script>
