@using Project_IHFF.Models;
@using System.Collections.Generic;

@model IEnumerable<FilmsViewModel>

    @foreach (FilmsViewModel film in Model)
    {

            <label>@film.film.name </label>
        foreach(Exhibitions x in film.exhibitions)
        {
            <label>@x.startTime.ToString()</label>
        }
    }
