<h2>Add Item</h2>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#ItemType1">Film</a></li>
    <li><a data-toggle="tab" href="#ItemType3">Special</a></li>
    <li><a data-toggle="tab" href="#ItemType4">Restaurant</a></li>
</ul>

<div class="tab-content">
    <div id="ItemType1" class="tab-pane fade in active">
        <h3>Add Film</h3>
        <div>
            @Html.Action("_AddFilm")
        </div>
    </div>
    <div id="ItemType3" class="tab-pane fade">
        <h3>Add Special</h3>
        <div>
            @Html.Action("_AddSpecial")
        </div>
    </div>
    <div id="ItemType4" class="tab-pane fade">
        <h3>Add Restaurant</h3>
        <div>
            @Html.Action("_AddRestaurant")
        </div>
    </div>
</div>

<script type="text/javascript" >
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.datepicker').datepicker();
    })
</script>
