
@{
    ViewBag.Title = "Admin";
}

<h2>Index</h2>

<div>@Html.ActionLink("Add item", "AddItem", "Admin", null, new { @class = "btn btn-primary" })</div>
<br />
<div>@Html.ActionLink("Edit items", "EditItem", "Admin", null, new { @class = "btn btn-primary" })</div>