@using Project_IHFF.Models
@model IEnumerable<Restaurants>

<h2>Edit Specials</h2>

<div class="container cmsEditContainer">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="cmsItemContainer">
                    <label>@item.name</label>
                    @Html.ActionLink("Edit", "EditRestaurant", new { id = item.id }, new { @class = "btn btn-primary cmsEditButton" })
                </div>
            </div>
        }
    </div>
</div>